button {
  margin-bottom: 10px;
  margin-right: 0px;
  cursor: pointer;
}

.sticky-footer {
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
}

.name {
  font-size: 14px !important;
}

.link {
  font-size: 14px !important;
}


.card {
  text-align: center;
}

.card-body {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

.card-header {
  font-size: 20px;
  font-weight: bold;
}

.play {
  margin-right: 5px;
}

.title {
  font-weight: bold;
  font-size: 24px;
}

.icon-large {
  font-size: 24px;
}

@media screen and (max-width: 532px) {
  .company {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
  }

  .navbar {
    margin-bottom: 20px !important;
  }
}