button {
  margin-bottom: 10px;
  margin-right: 0px;
  cursor: pointer;
}

.card {
  text-align: center;
}

.card-body {
  display: inline-block;
}

.card-header {
  font-size: 20px;
  font-weight: bold;
}

.play {
  margin-right: 5px;
}

.title {
  font-weight: bold;
}

@media screen and (max-width: 532px) {
  .company {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
  }

  .navbar {
    margin-bottom: 20px !important;
  }
}